*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    float: none;
    clear: both;
}
#container{
    width: 70%;
    background-color: red;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    min-width: 375px;
}

header{
    width: 100%;
    background-color: lightblue;
    color: #333;
    height: 150px;
    line-height: 150px;
    text-align: center;
    
}

aside{
    width: 25%;
    float: left;
    background-color: #ccc;
    min-height: 700px;
    text-align: center;
    line-height: 700px;
}

#articles{
    background-color: lemonchiffon;
    width: 75%;
    min-height: 700px;
    float: left;
}

#articles article{
    width: 25%;
    height: 150px;
    background-color: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/*RESPONSIVE*/

@media (max-width: 888px) {
    #articles article{
        width: 40%;
        background-color: red;
    }
}

@media (max-width: 632px) {
    #articles article{
        width: 90%;
        background-color: blue;
    }

    aside {
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 91%;
        padding: 19px;
    }

    #articles{
        width: 100%;
    }
}

@media (max-width: 554px) {
    body{
        background-color: salmon;
    }
}